# .htaccess file for enabling URL rewriting

# Enable URL rewriting
RewriteEngine On

# Set the base URL path
RewriteBase /

# Redirect all requests to the index.php file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [QSA,L]
